# {{=/* */=}}
Exceptions to Organization, Good Standing, Corporate Power, and Qualification \\ None.
Exceptions to Capitalization \\ None.
    Key Holder Ownership \\
    /* #key holders */
        \\ /* & name */ holds /* & shares */ shares of common stock.
    /* /key holders */
    Key Holder Vesting Schedules \\
    /* #key holders */
        \\ /* & name */: /* & vesting */.
    /* /key holders */
Exceptions to Subsidiaries \\ None.
Exceptions to Company Authorization \\ None.
Exceptions to Valid Issuance of Shares \\ None.
Exceptions to Litigation \\ None.
Exceptions to Intellectual Property \\ None.
Exceptions to Employee and Consultant Matters \\ None.
Exceptions to Compliance with Other Instruments \\ None.
Exceptions to Title to Property and Assets \\ None.
Exceptions to Agreements \\ None.
Exceptions to Liabilities \\ None.
